In [ ]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 - 1]
d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [ ]:
[len(el) for el in l1]

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [ ]:
len([el for el in l1 if len(el)>2])

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [ ]:
sum([key * value for key,value in d4.items()])

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [ ]:
dict([item for item in d6.items() if not item[0] in d5.keys()])

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [ ]:
[l2[i]*(i+1) for i in range(len(l2))]

[2, 8, -6, -12, 0, 66, 14]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [ ]:
[i for i in l2 if i>=0]

[2, 4, 0, 11, 3]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [ ]:
[(lambda x: x if x >= 0 else i+1)(l2[i]) for i in range(len(l2))]

[2, 4, 3, 4, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [ ]:
def multiply(first: int | float, second: int | float) -> int | float:
  """
  Функция умножения двух чисел
  :param first: первое число
  :param second: первое число
  :return: результат умножения
  """
  return first * second

print(f'int * int {multiply(2,3)}')
print(f'int * float {multiply(2,3.51515)}')
print(f'float * float {multiply(2.5251,3.5151)}')

int * int 6
int * float 7.0303
float * float 8.87597901

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [ ]:
def multiply_args(*args):
  if len(args)<1 or len(args)>3:
    return 'Указано неверное количество аргументов'
  res = 1
  for arg in args:
    res *= arg
  return res

print(multiply_args(2,4,7))
print(multiply_args(4,7))
print(multiply_args(2))
print(multiply_args())
print(multiply_args(2,4,7,5))

56
28
2
Указано неверное количество аргументов
Указано неверное количество аргументов

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [ ]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

print(f'a1 - {multiply_args(*a1)}')
print(f'a2 - {multiply_args(*a2)}')
print(f'a3 - {multiply_args(*a3)}')
print(f'a4 - {multiply_args(*a4[:3])}')
print(f'a5 - {multiply_args(*a4[1:])}')

a1 - 750
a2 - 3
a3 - 3850
a4 - 750
a5 - 3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [ ]:
def multiply_much_args(*args):
  res = 1
  for arg in args:
    res *= arg

  return res

print(f'a1 - {multiply_much_args(*a1)}')
print(f'a2 - {multiply_much_args(*a2)}')
print(f'a3 - {multiply_much_args(*a3)}')
print(f'a4 - {multiply_much_args(*a4[:3])}')
print(f'a5 - {multiply_much_args(*a4[1:])}')
print(f'args - {multiply_much_args(1,4,6,7,8,9,4,6,8,9,9)}')

a1 - 750
a2 - 3
a3 - 3850
a4 - 750
a5 - 3000
args - 188116992

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [ ]:
def summ(*args):
  res = 0
  for arg in args:
    res += arg
  return res

def multiply(*args):
  res = 1
  for arg in args:
    res *= arg
  return res

def diff(*args):
  res = args[0]
  for i in range(1,len(args)):
    res -= args[i]
  return res

def div(*args):
  res = args[0]
  for i in range(1,len(args)):
    res //= args[i]
  return res

a = [10, 5 ]
command = input('1 - сумма 2 - произведение 3 - разность 4 - частное  ')
if command == '1':
  print(summ(*a))
elif command == '2':
  print(multiply(*a))
elif command == '3':
  print(diff(*a))
elif command == '4':
  print(div(*a))
else:
  print('Неизвестная комманда')

1 - сумма 2 - произведение 3 - разность 4 - частное  4
2

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [ ]:
def calc(data):
  return eval(data)

expr = input().replace('^','**')
calc(expr)

2^5

32

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [ ]:
def dict_gen(**kwargs):
  data = dict(kwargs)
  print(f"Автомобиль марки: {data['brand'] if 'brand' in data.keys() else 'Не указано'}, модели: {data['model'] if 'model' in data.keys() else 'Не указано'}, цвета: {data['color'] if 'color' in data.keys() else 'Не указано'}, {data['year'] if 'year' in data.keys() else 'Не указано'} года выпуска, с пробегом: {data['mileage'] if 'mileage' in data.keys() else 'Не указано'} км, c номерным знаком: {data['number'] if 'number' in data.keys() else 'Не указано'}, цена: {data['price'] if 'price' in data.keys() else 'Не указано'} руб")


c1 = {
    'brand': 'BMW',
    'model': 'm3 competition',
    'price': '11 111 111',
}

c2 = {
    'color': 'белый',
    'number': 'X012AM77'
}

dict_gen(**c1)
print()
dict_gen(**c2)

Автомобиль марки: BMW, модели: m3 competion, цвета: Не указано, Не указано года выпуска, с пробегом: Не указано км, c номерным знаком: Не указано, цена: 11 111 111 руб

Автомобиль марки: Не указано, модели: Не указано, цвета: белый, Не указано года выпуска, с пробегом: Не указано км, c номерным знаком: X012AM77, цена: Не указано руб

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [ ]:
def number_to_words(number: float) -> str:
    number = round(number, 3)
    units = number % 10
    tens = number - units
    if tens > 99 and tens not in [100, 200, 300, 400, 500, 600, 700, 800, 900]:
        tens -= 100 * int(str(tens)[0])
    elif tens in [100, 200, 300, 400, 500, 600, 700, 800, 900]:
        tens = 0
    hundreds = number - tens - units
    ost = 0
    try:
        ost = int(str(number).split('.')[1]) % 1000
    except IndexError:
        pass
    digit = int(number // 1)
    if ((number < 20) or (number in [20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300, 400, 500, 600, 700, 800, 900])) and ost == 0:
        return digits_to_words.get(number)
    elif ost != 0:
        return number_to_words(digit) + ' и ' + number_to_words(ost) + ' ' + digits_to_words.get(str(len(str(number).split('.')[1])))
    elif number > 100:
        if tens == 0:
            return digits_to_words.get(hundreds)+' ' + digits_to_words.get(units)
        elif hundreds == 0:
            return digits_to_words.get(tens) + ' ' + digits_to_words.get(units)
        elif units == 0:
            return digits_to_words.get(hundreds) + ' ' + digits_to_words.get(tens)
        elif tens == hundreds == 0:
            return digits_to_words.get(units)
        elif tens == units == 0:
            return digits_to_words.get(hundreds)
        elif units == hundreds == 0:
            return digits_to_words.get(tens)
        return digits_to_words.get(hundreds) + ' ' + digits_to_words.get(tens) + ' ' + digits_to_words.get(units)
    else:
        return digits_to_words.get(tens) + ' ' + digits_to_words.get(units)

digits_to_words = {
    0: 'ноль',
    1: 'один',
    2: 'два',
    3: 'три',
    4: 'четыре',
    5: 'пять',
    6: 'шесть',
    7: 'семь',
    8: 'восемь',
    9: 'девять',
    10: 'десять',
    11: 'одиннадцать',
    12: 'двенадцать',
    13: 'тринадцать',
    14: 'четырнадцать',
    15: 'пятнадцать',
    16: 'шестнадцать',
    17: 'семнадцать',
    18: 'восемнадцать',
    19: 'девятнадцать',
    20: 'двадцать',
    30: 'тридцать',
    40: 'сорок',
    50: 'пятьдесят',
    60: 'шестьдесят',
    70: 'семьдесят',
    80: 'восемьдесят',
    90: 'девяносто',
    100: 'сто',
    200: 'двести',
    300: 'триста',
    400: 'четыреста',
    500: 'пятьсот',
    600: 'шестьсот',
    700: 'семьсот',
    800: 'восемьсот',
    900: 'девятьсот',
    'и': '.',
    'одна': 1,
    'две': 2,
    '1': 'десятых',
    '2': 'сотых',
    '3': 'тысячных',
    '4': 'десятитысячных',
    '5': 'стотысячных',
    '6': 'миллионных'
}
print(number_to_words(float(input())))

100
сто

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [ ]:
from math import *

In [ ]:
def words_to_numbers(number: str) -> str:
    res = ''
    temp = ''
    for word in number.split():
        if words_to_digits.get(word) != None:
                if word in ['двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто', 'сто','двести','триста','четыреста','пятьсот','шестьсот','семьсот','восемьсот','девятьсот']:
                    if temp != '':
                        temp = str(int(temp) + words_to_digits.get(word))
                    else:
                        temp = str(words_to_digits.get(word))
                    continue
                else:
                    if temp != '':
                        res += str(int(temp) + words_to_digits.get(word))
                        temp = ''
                    else:
                        res += str(words_to_digits.get(word))
    if temp != '':
        res += temp
    return res


words_to_digits = {
    'трех':3,
    'четырех':4,
    'пяти':5,
    'ноль': 0,
    'один': 1,
    'два': 2,
    'три': 3,
    'четыре': 4,
    'пять': 5,
    'шесть': 6,
    'семь': 7,
    'восемь': 8,
    'девять': 9,
    'десять': 10,
    'одиннадцать': 11,
    'двенадцать': 12,
    'тринадцать': 13,
    'четырнадцать': 14,
    'пятнадцать': 15,
    'шестнадцать': 16,
    'семнадцать': 17,
    'восемнадцать': 18,
    'девятнадцать': 19,
    'двадцать': 20,
    'тридцать': 30,
    'сорок': 40,
    'пятьдесят': 50,
    'шестьдесят': 60,
    'семьдесят': 70,
    'восемьдесят': 80,
    'девяносто': 90,
    'сто': 100,
    'двести': 200,
    'триста': 300,
    'четыреста': 400,
    'пятьсот': 500,
    'шестьсот': 600,
    'семьсот': 700,
    'восемьсот': 800,
    'девятьсот': 900,
    'плюс': '+',
    'минус': "-",
    'умножить': '*',
    'открывается': '(',
    'закрывается': ')',
    'разделить': '/',
    'остаток': '%',
}

print(words_to_numbers(input()))

тысяча двадцать три
23

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [ ]:
def calc(inp):
  return eval(words_to_numbers(inp))

print(calc(input()))

тридцать пять плюс тринадцать
48